:root {
    --Ga0: #F6F7F8;
    --Ga0_s: #F6F7F8;
    --Ga0_t: #F6F7F8;
    --Ga1: #F1F2F3;
    --Ga1_s: #F1F2F3;
    --Ga1_t: #F1F2F3;
    --Ga1_e: #F1F2F3;
    --Ga2: #E3E5E7;
    --Ga2_t: #E3E5E7;
    --Ga3: #C9CCD0;
    --Ga3_t: #C9CCD0;
    --Ga4: #AEB3B9;
    --Ga4_t: #AEB3B9;
    --Ga5: #9499A0;
    --Ga5_t: #9499A0;
    --Ga6: #797F87;
    --Ga6_t: #797F87;
    --Ga7: #61666D;
    --Ga7_t: #61666D;
    --Ga8: #484C53;
    --Ga8_t: #484C53;
    --Ga9: #2F3238;
    --Ga9_t: #2F3238;
    --Ga10: #18191C;
    --Ga10_t: #18191C;
    --Ga11: #FFFFFF;
    --Ga12: #F1F2F3;
    --Wh0: #FFFFFF;
    --Wh0_t: #FFFFFF;
    --Ba0: #000000;
    --Ba0_s: #000000;
    --Ba0_t: #000000;
    --Pi0: #FFF3F6;
    --Pi1: #FFECF1;
    --Pi2: #FFD9E4;
    --Pi3: #FFB3CA;
    --Pi4: #FF8CB0;
    --Pi5: #FF6699;
    --Pi5_t: #FF6699;
    --Pi6: #E84B85;
    --Pi7: #D03171;
    --Pi8: #AD1C5B;
    --Pi9: #771141;
    --Pi10: #3F0723;
    --Ma0: #FEF3FC;
    --Ma1: #FDEBFA;
    --Ma2: #FBD7F4;
    --Ma3: #F7AEEB;
    --Ma4: #F286E2;
    --Ma5: #EE5DDB;
    --Lb5: #00AEEC;
}

:root {
    --brand_pink: var(--Pi5);
    --brand_pink_thin: var(--Pi1);
    --brand_blue: var(--Lb5);
    --brand_blue_thin: var(--Lb1);
    --stress_red: var(--Re5);
    --stress_red_thin: var(--Re1);
    --success_green: var(--Gr5);
    --success_green_thin: var(--Gr1);
    --operate_orange: var(--Or5);
    --operate_orange_thin: var(--Or1);
    --pay_yellow: var(--Ye5);
    --pay_yellow_thin: var(--Ye1);
    --bg1: var(--Wh0);
    --bg2: var(--Ga0);
    --bg3: var(--Ga1);
    --bg1_float: var(--Ga11);
    --bg2_float: var(--Ga12);
    --text_white: var(--Wh0_u);
    --text1: var(--Ga10);
    --text2: var(--Ga7);
    --text3: var(--Ga5);
    --text4: var(--Ga3);
    --text_link: var(--Lb6);
    --text_notice: var(--Ye6);
    --line_light: var(--Ga1_s);
    --line_regular: var(--Ga2);
    --line_bold: var(--Ga3);
    --graph_white: var(--Wh0_u);
    --graph_bg_thin: var(--Ga0_s);
    --graph_bg_regular: var(--Ga1_s);
    --graph_bg_thick: var(--Ga2);
    --graph_weak: var(--Ga3);
    --graph_medium: var(--Ga5);
    --graph_icon: var(--Ga7);
    --shadow: var(--Ba0);
}